@use "layout/navbar";
@use "layout/footer";
@use "layout/grid";
@use "layout/form";
@use "layout/mediaqueries";
@use "layout/cards";
@use "layout/flipcards";

$danger:#e96f1e;


body {
  padding-top: 100px;


}

.container  {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px 0;
}

h1 {
    color: #FFA500;
    font-family: "Anton", sans-serif;
    font-weight: 900;
}

h2 {
    color: #FFA500;
    font-family: "Anton", sans-serif;
    font-weight: 900;
}

h5 {
    color: #5c3e07;
    font-family: "Anton", sans-serif;
    font-weight: 900;
}
p {
    color: rgb(78, 77, 74);
    font-family: "Anton", sans-serif;
    font-weight: 500;
}

.wrap1 {
    margin-block: 30px;
    justify-content: center;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(../imagenes/banda.jpeg);
    background-size: cover;
    background-position: center;
}

.wrap2 {
    margin-block: 30px;
    justify-content: center;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(../imagenes/guitarras.jpg);
    background-size: cover;
    background-position: center;
}

.wrap-texto {
    color: white;
    text-align: start;
    width: 60%;
}
