.navbar {
  background-color: rgb(253, 253, 253);
}

.navbar .navbar-text,
.navbar-brand,
.nav-Link {
  color: rgb(230, 155, 6) !important;
}

body {
  padding-top: 60px;
}

footer {
  background-color: #111110;
  background: orange;
  color: rgb(247, 246, 245);
  text-shadow: #221c1c;
  position: relative;
  scroll-margin-top: 1000px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.gallery-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  position: relative;
}

.gallery__title {
  font-family: "Anton", sans-serif;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.gallery__item:nth-child(4) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-column-start: span 2;
}

.gallery__item:nth-child(6) {
  grid-column-start: span 2;
}

.about {
  margin: 80px auto;
  width: 900px;
  height: 100%;
  object-fit: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: #525050 2px 5px 9px;
  grid-column: 1/5;
  grid-row: 1/5;
}

.about__gradient {
  background-image: linear-gradient(to top, orange 0%, gray 100%);
  box-shadow: #525050 2px 5px 9px;
  grid-column: 2/6;
  grid-row: 2/7;
}

.about__article {
  background-color: #fff;
  padding: 2.5em;
  box-shadow: #525050 2px 5px 9px;
  grid-column: 4/9;
  grid-row: 3/6;
}

.about__title {
  font-size: 2rem;
  margin-bottom: 16px;
  color: #ec710c;
}

.about__paragraph {
  line-height: 1.5;
}

.btn {
  border-radius: 10px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px rgb(0, 0, 0);
}

.btn-green {
  color: rgb(253, 253, 253);
  background-color: rgb(128, 126, 122);
  margin: 30px auto;
}

.btn-green:hover {
  background-color: #c4a14a;
}

.btn-green:active {
  background-color: #f5c951;
}

form {
  background-color: #fdfdfd;
  border-radius: 40px;
  color: #1f1b1b;
  box-decoration-break: inherit;
  font-size: 1em;
  font-style: unset;
  padding: 10px;
  margin: 10px auto;
  width: 400px;
}

input, textarea {
  border: 0;
  outline: none;
  width: 400px;
}

.field {
  border: solid 1px #615e5e;
  padding: 10px;
}

.field:focus {
  border-color: #ec710c;
}

.center-content {
  text-align: center;
}

@media (max-width: 1000px) {
  .about {
    margin: 150px auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    align-items: center;
  }
}
@media (max-width: 850px) {
  .about {
    margin: 150px auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    align-items: center;
  }
}
@media (max-width: 750px) {
  .about {
    margin: 150px auto;
    width: 500px;
    height: 500px;
    object-fit: cover;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .about {
    margin: 150px auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    align-items: center;
  }
}
.container2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 700px;
  transition: all 400ms ease;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 10px;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translate(-3%);
}

.card figure {
  height: 500px;
}

.card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300px;
  text-align: center;
  padding: 10%;
}

.card p {
  text-align: justify;
  padding: 5px;
  font-size: 14px;
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
}

.card button {
  display: block;
  border: 0;
  outline: 0;
  background-color: orange;
  width: 200px;
  height: 30px;
  padding: 5;
  color: white;
  text-transform: uppercase;
  border-radius: 20px 10px;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.content {
  padding: 15px 10px;
  text-align: center;
}

.cardp {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.card1 {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.card1 .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card1 .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5 px 10px black;
}

.card1 .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card1 .front h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card1 .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f19a16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px black;
}

.card1 .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card1 .back .link a {
  color: #f3f3f3;
}

.card1 .back h4 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card1:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.titulo {
  color: rgb(104, 96, 82);
  font-size: clamp(2rem, 5vw, 4rem);
}

.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 20px 0;
}

.titulo1, h5, h2, h1 {
  color: rgb(253, 162, 3);
  font-family: "Anton", sans-serif;
  font-weight: 900;
  font-size: clamp(2.2rem, 5vw, 4rem);
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  color: rgb(87, 82, 82);
}

p {
  color: black;
  font-family: "Anton", sans-serif;
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
