footer {
  background-color: #111110;
  background: orange;
  color: rgb(247, 246, 245);
  text-shadow: #221c1c;
  position: relative;
  scroll-margin-top: 1000px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 40px; 
}
