.btn {
    border-radius: 10px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 3);
}

.btn-green {
    color: rgb(253, 253, 253);
    background-color: rgb(38, 38, 63);
    margin: 30px auto;
}

.btn-green:hover {
    background-color: #c4a14a;
}

.btn-green:active {
    background-color: #f5c951;
}

form {
    background-color: #fdfdfd;
    border-radius: 40px;
    color: #1f1b1b;
    box-decoration-break: inherit;
    font-size: 1em;
    font-style: unset;
    padding: 10px;
    margin: 10px auto;
    width: 400px;

}

input, textarea {
    border: 0;
    outline: none;
    width: 400px;
}

.field {
    border: solid 1px #615e5e;
    padding: 10px;
}

.field:focus {
    border-color: #ec710c;

}

.center-content {
    text-align: center;
}