@media (max-width: 1000px) {
    .about {
    margin: 150px auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    align-items: center;
    }

}

@media (max-width: 850px) {
    .about {
    margin: 150px auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    align-items: center;
}
}

@media (max-width: 750px) {
    .about {
    margin: 150px auto;
    width: 500px;
    height: 500px;
    object-fit: cover;
    align-items: center;
}

}

@media (max-width: 600px) {
    .about {
    margin: 150px auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    align-items: center;
}

}
