@media (max-width: 1000px) {
    .about {
    margin: 150px auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    align-items: center;
    }

}

@media (max-width: 850px) {
    .about {
    margin: 150px auto;
    width: 600px;
    height: 600px;
    object-fit: cover;
    align-items: center;
}
}

@media (max-width: 680px) {
    .about {
    margin: 150px auto;
    width: 500px;
    height: 500px;
    object-fit: cover;
    align-items: center;
}
    .gallery-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 60px;
    padding: 20px;
    grid-gap: 10px;
}
    .gallery__item:nth-child(4) {
    grid-row-start: span 1;
}

    .gallery__item:nth-child(5) {
    grid-column-start: span 1;
}

    .gallery__item:nth-child(6) {
    grid-column-start: span 1;
}

}

@media (max-width: 480px) {
    .about {
    margin: 150px auto;
    width: 600px;
    height: 400px;
    object-fit: cover;
    align-items: center;
}



}